.gtFooter {
  height: 100%;
  min-height: 60px;
  background-color: var(--gt-secondary);
  display: flex;
  align-items: center;
}

.footer{
  height: 100%;
  //width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  padding-bottom: 1rem;
}


.footer .centerSection{
  display: flex;
  justify-content: center;
  order: 1;
}

.footer .centerSection p{
  margin: 0;
}

.footer button{
  width: 100%;
  margin-bottom: 1rem;
}


@media (min-width: 600px) {
  .footer{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .footer button{
    width: auto;
    margin:0;
  }
  .footer .centerSection{
    order: 0;
  }
  .footer .rightSection{
    display: flex;
    column-gap: 0.5rem;
    justify-content: space-between;
  }
  .footer .rightSection button{
    //width: 5rem;
  }
}


@media (min-width: 960px) {

  .footer .leftSection{
    justify-content: left;
  }
  .footer .xd{
    justify-content: right;
  }

  .footer .centerSection{
    width: auto;
    order: 0;
  }
}


@media (min-width: 1440px) {
  .footer button{
    width: auto;
  }
  .footer .leftSection{
    justify-content: left;
  }

  .footer .xd .rightSection button{

  }

  .footer .centerSection{
    width: auto;
    order: 0;
  }
}

@media (min-width: 1920px) {
  .footer button{
    width: auto;
  }
  .footer .leftSection{
    justify-content: left;
  }

  .footer .xd .rightSection button{

  }

  .footer .centerSection{
    width: auto;
    order: 0;
  }
}
