.footer {
  min-height: 60px;
  height: 8vh;
  background-color: var(--gt-secondary);
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem
}

.leftSection{
  width: 25%;
}

.centerSection{
  width:100%;
  text-align: center;
}

.centerSection p{
  margin-bottom: 0;
}

.rightSection{
  width:25%;
  display: flex;
  justify-content: right;
}
.rightSection button{
  margin: 0 0 0 10px;
}


