.searchBar {
    background-color: var(--gt-primary);
    padding: 0.5rem 2rem;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}

.searchButton {
    color: white !important;
    width: 200px;
}

.locationDropdown {
    max-width: 400px;
    width: 400px;
}

.priceInput {
    width: 200px;
    max-width: 200px;
}