@import '~bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=VT323&display=swap');

body{
  $gt-primary-color: #FB8122;
  $gt-secondary-color: #403E58;
  $gt-background-color: #1D2228;

  --gt-primary: #FB8122;
  --gt-secondary: #403E58;
  --gt-background: #1D2228;


  .gt-btn-primary {
    color: white !important;
    @include button-variant($gt-primary-color, darken($gt-primary-color, 7.5%), darken($gt-primary-color, 10%), lighten($gt-primary-color,5%), lighten($gt-primary-color, 10%), darken($gt-primary-color,30%));
  }

  .gt-btn-outline-primary {
    @include button-outline-variant($gt-primary-color, #222222, lighten($gt-primary-color,5%), );
  }

  .gt-btn-secondary {
    color: white !important;
    @include button-variant($gt-secondary-color, darken($gt-secondary-color, 7.5%), darken($gt-secondary-color, 10%), lighten($gt-secondary-color,5%), lighten($gt-secondary-color, 10%), darken($gt-secondary-color,30%));
  }

  .gt-btn-outline-secondary {
    @include button-outline-variant($gt-secondary-color, #222222, lighten($gt-secondary-color,5%), );
  }

  .gt-vt-font {
    font-family: 'VT323', monospace;
  }
}

html, body, #root {
  margin: 0;
  height: 100%;
  width: 100%;
  font-size: 16px;
}

.gt-main {
  background-color: var(--gt-background);
  color: white;
  font-family: 'Roboto', sans-serif;
  min-height: 100%;
  width: 100%;
}

.gt-content {
  padding: 0 5em;
}