.gtRegisterPage {
  min-height: 84.5vh; //it's tmp resolve TODO make footer always stick bottom
}

header {
  background-color: var(--gt-primary);

  h1 {
    margin: 0;
    padding: 0.5rem;
  }
}

form {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  background-color: var(--gt-primary);
  margin: 5rem auto;
  padding: 1rem;
  border-radius: .5rem;
}

.row {
  display: flex;
  flex-direction: column;

  label {
    line-height: 2rem;
  }

  label, input, select {
    width: 100%;
    min-height: 2rem;
  }

  .info {
    font-size: 0.8rem;
    line-height: 1.3;
    font-weight: lighter;
    margin: 2rem 0 0 0;
    text-align: center;
    width: 100%;
  }

  .registerBtn {
    font-size: 1.5rem;
    background-color: var(--gt-background);
    color: var(--gt-primary) !important;
  }

  .inputContainer {
    display: flex;
    flex-direction: column;
    row-gap: 0.25rem;
    width: 100%;

    .warning {
        display: flex;
        align-items: center;
        background-color: white;
        column-gap: 0.25rem;
        color: var(--gt-primary);
        border-radius: 0.25rem;
        font-weight: bold;
        padding: 0 0.25rem;

        p {
            margin-bottom: 0;
        }
    }
}
}

@media (min-width: 600px) {
  form {
    max-width: 100%;
  }

  .row {
    flex-direction: row;

    .registerBtn {
      width: auto;
      margin: 0 auto;
      font-size: 2rem;
    }
  }
}

@media (min-width: 960px) {
  form {
    max-width: 70%;
  }
}

@media (min-width: 1440px) {
  form {
    max-width: 60%;
  }
}

@media (min-width: 1920px) {
  form {
    max-width: 50%;
  }
}